node_modules/
dist/
.DS_Store
Thumbs.db
*.log
*.import
godot/engine-bin/
godot/engine-src/bin/
godot/engine-src/.scons_env.json
godot/engine-src/.sconsign.dblite
godot/project/.godot/
godot/project/.import/
logs/
